:host {
    .login-bg-img {
        background-image: url("/../../../../assets/images/background-01.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .loginBox {
        max-width: 90%;
        width: 500px;
    }
}
